/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #a83436;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: white;
	display: inline-block;
    color:black;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;

}


.section {
	position: relative;
	margin: 60px 0;
	padding: 60px 0;
	background-color: white;
	overflow: hidden;
}

.noMarginBottom{
    margin-bottom:0px;
}

.helvetica{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

*{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}