<footer id="footer" class="dark notopborder">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

         

            <div class="line"></div>

            <div class="row clearfix">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="widget clearfix">
                        <div class="clear-bottommargin-sm">
                            <div class="row clearfix">
                                    
                                <div class="col-lg-6">
                                    <div class="footer-big-contacts">
                                        <h3>
                                            <span>Contact:</span>
                                            <a href="mailto:info@puredelivery.se" target="_top">{{data.email}}</a>
                                        </h3>
                                    </div>
                                    <div class="visible-xs bottommargin-sm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-sm visible-xs bottommargin-sm"></div>
                </div>

                

            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

</footer>