<header id="header">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/Plogo9090on100.png" alt="Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/Plogo180180on200.png" alt="Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="sub-title">

                <ul>
                    <li class={{indexCurrentClass}}>
                        <a href="index.html"><div>Home</div><span><br></span></a>
                    </li>
                    <li class={{aboutCurrentClass}}>
                        <a href="about.html"><div>About Pure Delivery</div><span><br></span></a>
                    </li>
                    <li class={{servicesCurrentClass}}>
                        <a href="services.html"><div>Services</div><span><br></span></a>
                        
                    </li>
                    <li class="{{joinCurrentClass}}">
                        <a href="join.html"><div>Join Us</div><span><br></span></a>

                    </li>

                    <!--<li class="{{eventsCurrentClass}}">
                        <a href="events-list.html"><div>Events and Seminars</div><span><br></span></a>

                    </li>-->
                    <li class="{{contactCurrentClass}}">
                        <a href="contact.html"><div>Contact</div><span><br></span></a>

                    </li>

                </ul>

                <!-- Top Cart
                ============================================= -->
                <!-- #top-cart end -->
                <!-- Top Search
                ============================================= -->
                <!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>