SV is a method and technique to emulate the behaviour of external systems 
or components in heterogenous application environments.
<br>
<br>
Besides that, Virtual Services are a necessity to simulate external 
dependencies when performing end-to-end testing with masked data. 
Another aspect is the ability generate responses, 
events and behaviour that are difficult to create in a real environment. 
Fake systems often are better than the real thing within a design and development lifecycle.
<br>
<br>
SV shall not be confused with server virtualization or traditional mocking/stubbing. 
Mocks tend to be more limited, giving a specific behavioural response to meet a certain need. 
While a Virtual Service can be deployed throughout the entire software delivery life cycle, 
consistently responding for all development and testing purposes. 
Another aspect is that a Virtual Service is deployed as a real component, 
enabling the behaviour of entire network backend services.

<br>
<br>

Typically, SV is used for system integration, system and performance tests to address the following needs

<ul>
    <li>Dependencies of components that are not yet completed or that still are evolving</li>
    <li>To simulate components that are expensive or complicated to set up in several instances</li>
    <li>Simultaneous access by different teams with varied test data needs</li>
    <li>End-to-end testing with masked data that involves dependencies towards external</li>
    <li>Access external components that are restricted or costly to use for performance testing</li>
</ul>

Contact our subject matter experts within SV by sending a message to <a href="mailto:info@puredelivery.se" target="_top">{{data.email}}</a> for more information.