﻿<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="icon" href="images/pure-it-pALPHA.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>About | Pure Delivery</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{{>header aboutCurrentClass="current"}}<!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>About Pure Delivery</h1>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_full">

						<div class="heading-block center nobottomborder">
							<h2>Experts in Software Delivery</h2>
							<span>Pure Delivery is a knowledge company within Software Delivery. Together with our sister company Pure IT we form a corporation which has a history going back to 1998. 
                                <br>
                                <br>
                            Pure has since its inception had a clear focus on IT development within the banking, finance and insurance sector, but has since branched out to other industries.
                            Our engineers have an average of 16 years experience in system development and IT.
                            <br>
                            <br> 
                            Customers of Pure Delivery share a need of effective development of digital services and products to stay competitive.</span>
						</div>

					</div>
                    
                       
                
				</div>

			</div>

            <section class="helvetica allmargin-sm">
                <!--<div class="row bottommargin">
                    <div class="col-md-3">

                        

                    </div>
                    <div class="col-md-6" style="text-align:center;">
                        <img src="images/pure/complex.png" class="center" alt="About Image">
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>-->
                <div class="row bottommargin">
                    <div class="col-md-3">



                    </div>
                    <div class="col-md-6" style="text-align:center;">
                        <img src="images/pure/cogwheel_3.png" alt="About Image">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <p class="helvetica">
                            <b>A common challenge</b><br>
                            IT systems are becoming more and more integrated and complex to develop, test and maintain. To stay competitive, we can no longer afford solutions that are inflexible or expensive to maintain and operate.
                        </p>
                            
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">



                    </div>
                    <div class="col-md-6">
                        <p class="helvetica">
                            <b>Scalable system development</b><br>
                            Pure Delivery focuses on increasing scalability and the capacity to effectively deliver digital products and services. It’s what inspires Pure Delivery’s motto: Capacity for Innovation.
                        </p>

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </section>   


		</section><!-- #content end -->

          
    <section class="helvetica allmargin-sm">
        <div class="row">
            <div class="col-md-3">
                
                    
                
            </div>
            <div class="col-md-6">
                <h3>Pure Delivery helps you achieve</h3>
            </div>
            <div class="col-md-3">

                

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

                

            </div>
            <div class="col-md-6 leftmargin" >
                <div>
                    <ul>
                        <li>Scalable development and increased capacity for innovation</li>
                        <li>A more effective maintenance and IT ops</li>
                        <li>Shorten lead times in development, quality assurance as well as delivery of new products and services</li>
                        <li>Increased accuracy in developing the right functionality, e.g. through delivery in smaller batches and earlier feedback</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">


            </div>
        </div>
        <div class="row">
            <div class="col-md-3">



            </div>
            <div class="col-md-6">
                <h3>Examples of services and previous assignments</h3>
            </div>
            <div class="col-md-3">



            </div>
        </div>
        <div class="row bottommargin">
            <div class="col-md-3">



            </div>
            <div class="col-md-6 leftmargin" >
                <div>
                    <ul>
                        <li>Continuous Delivery & Deploy, complete with a well-functioning immune system</li>
                        <li>Implementation of effective test infrastructure</li>
                        <li>Implementation of Service Virtualization</li>
                        <li>Automated test data management (TDM) solutions</li>
                        <li>Architecture, frameworks and solutions for automated testing</li>
                        <li>Transformation of IT-architecture to enable scalable agile development</li>
                        <li>Introduction of modern efficient methods for system development and maintenance</li>
                        <li>Introduction of modern cloud based solutions for development, test and operations of IT systems.</li>
                        <li>Strategies and implementation of Internet of Things and Big Data</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">


            </div>
        </div>
        
   </section>

		<!-- Footer
		============================================= -->
		{{>footer}}<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>