﻿<!DOCTYPE html>

<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="icon" href="images/pure-it-pALPHA.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        .custom_Hover:hover {
            box-shadow: 0 0 2px 1px #a83436;
        }
        #div { 
            top:50px !important; 

        }
    </style>

	<!-- Document Title
	============================================= -->
	<title>Home | Pure Delivery</title>

</head>




<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		{{>header indexCurrentClass="current"}}

		<section id="slider" class="swiper_wrapper full-screen clearfix">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
                        <div class="swiper-slide dark" style="background-image: url('images/pure/Startkarusell1av3.jpg');">
                            <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                            <div class="container clearfix">
                                <div class="slider-caption slider-caption-center">
                                    <!--<h2 data-caption-animate="fadeInUp">eerrWelcome to Canvas</h2>-->
                                    <img src="images/BigLogoWithText2AlphaWHITE.png">
                                    <p class="helvetica" data-caption-animate="fadeInUp" data-caption-delay="200">{{data.textUnderLogo1}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide dark" style="background-image: url('images/pure/Startkarusell2av3.jpg'); background-position: center top;">
                            <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                            <div class="container clearfix">
                                <div id="div" class="slider-caption slider-caption-top-left">
                                    <!-- <h2 data-caption-animate="fadeInUp">Great Performance</h2>-->
                                    <img src="images/BigLogoWithText2AlphaBLACK.png">
                                    <p class="helvetica" data-caption-animate="fadeInUp" data-caption-delay="200">{{data.textUnderLogo2}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide dark" style="background-image: url('images/pure/Startkarusell3av3.jpg');">
                            <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                            <div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<!--<h2 data-caption-animate="fadeInUp">eerrWelcome to Canvas</h2>-->
                                    <img src="images/BigLogoWithText2AlphaWHITE.png">
                                    <p class="helvetica" data-caption-animate="fadeInUp" data-caption-delay="200">{{data.textUnderLogo3}}</p>
								</div>
							</div>
						</div>
					</div>
					<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
				</div>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">
            <div class="common-height">

                <div class="col-md-4 dark col-padding ohidden" style="background-color: #a83436;">
                    <div>
                        <h3 class="uppercase" style="font-weight: 600;">{{data.leftBox_title}}</h3>
                        <p style="line-height: 1.8;">{{data.leftBox_content}}</p>
                        <a href="about.html" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><span>Read More</span></a>
                        
                    </div>
                </div>

                <div class="col-md-4 light col-padding ohidden" style="background-color: white;">
                    <div>
                        <h3 class="uppercase" style="font-weight: 600;">{{data.middleBox_title}}</h3>
                        <p style="line-height: 1.8;">{{data.middleBox_content}}</p>
                        <a href="services.html" class="button button-border button-dark button-rounded button-reveal tright uppercase nomargin"><span>Read More</span></a>
                        
                    </div>
                </div>

                <div class="col-md-4 dark col-padding ohidden" style="background-color: #a83436;">
                    <div>
                        <h3 class="uppercase" style="font-weight: 600;">{{{data.rightBox_title}}}</h3>
                        <p style="line-height: 1.8;">{{{data.rightBox_content}}}</p>
                        <a href="join.html" class="button button-border button-light button-rounded button-reveal tright uppercase nomargin"><span>Read More</span></a>
                        
                    </div>
                </div>

                <div class="clear"></div>

            </div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>