﻿<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="icon" href="images/pure-it-pALPHA.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Join Us | Pure Delivery</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{{>header joinCurrentClass="current"}}<!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Join Us</h1>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_full">

						<div class="heading-block center nobottomborder">
							<h2>We are looking for more passionate senior experts</h2>
							<span>Or people who aspire to be leading experts in our core areas</span>
						</div>

						<div class="fslider" data-pagi="false" data-animation="fade">
							<div class="flexslider">
								<div class="slider-wrap">
                                    
                                    <div class="slide">
                                        <a href="#">
                                            <img src="images/pure/Startkarusell1av3.jpg" alt="About Image">

                                        </a>

                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="images/pure/Startkarusell3av3.jpg" alt="About Image">

                                        </a>

                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="images/pure/Startkarusell2av3.jpg" alt="About Image">

                                        </a>

                                    </div>
									<div class="slide">
                                        <a href="#"><img src="images/pure/About_us_1av5.jpg" alt="About Image">
                                            
                                        </a>
               
                                    </div>
                                   
									<div class="slide">
                                        <a href="#"><img src="images/pure/About_us_2av5.jpg" alt="About Image">
                                            
                                        </a>
                                    </div>
                                    
									<div class="slide">
                                        <a href="#"><img src="images/pure/About_us_3av5.jpg" alt="About Image">
                                            
                                        </a>
                                    </div>
                                    
									<div class="slide">
                                        <a href="#"><img src="images/pure/About_us_4av5.jpg" alt="About Image">
                                            
                                        </a>
                                    </div>
                                    
                                    <div class="slide">
                                        <a href="#"><img src="images/pure/About_us_5av5.jpg" alt="About Image">
                                            <div class="flex-caption slider-caption-top-left">
                                                At Pure Delivery we have Pure Fun!
                                            </div>
                                        </a>
                                    </div>
                               
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>