﻿<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="icon" href="images/pure-it-pALPHA.png" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->
	<title>Services | Pure Delivery</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		{{>header servicesCurrentClass="current"}}<!-- #header end -->

		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1>Services</h1>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
                    <!--
					<div class="col_one_fourth">
						<div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_CD_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
							<h3>{{data.service_CD}}</h3>
							<p>{{data.service_CD_short}}</p>
						</div>
					</div>

					<div class="col_one_fourth">
						<div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_SSA_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
							<h3>{{data.service_SSA}}</h3>
                            <p>{{data.service_SSA_short}}</p>
						</div>
					</div>

					<div class="col_one_fourth">
						<div class="feature-box fbox-rounded fbox-effect">
							<div class="fbox-icon">
								<a data-scrollto=#{{data.service_TA_id}}><i class="icon-settings2 i-alt"></i></a>
							</div>
							<h3>{{data.service_TA}}</h3>
                            <p>{{data.service_TA_short}}</p>
						</div>
					</div>


                    <div class="col_one_fourth col_last">
                        <div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_TDM_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
                            <h3>{{data.service_TDM}}</h3>
                            <p>{{data.service_TDM_short}}</p>
                        </div>
                    </div>

					<div class="clear"></div>

					<div class="col_one_fourth nobottommargin">
						<div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_SV_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
							<h3>{{data.service_SV}}</h3>
                            <p>{{data.service_SV_short}}</p>
						</div>
					</div>

					<div class="col_one_fourth nobottommargin">
						<div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_OI_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
							<h3>{{data.service_OI}}</h3>
                            <p>{{data.service_OI_short}}</p>
						</div>
					</div>

					<div class="col_one_fourth nobottommargin">
						<div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_CC_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
							<h3>{{data.service_CC}}</h3>
                            <p>{{data.service_CC_short}}</p>
						</div>
					</div>
                    <div class="col_one_fourth nobottommargin col_last">
                        <div class="feature-box fbox-rounded fbox-effect">
                            <div class="fbox-icon">
                                <a data-scrollto=#{{data.service_ALM_id}}><i class="icon-settings2 i-alt"></i></a>
                            </div>
                            <h3>{{data.service_ALM}}</h3>
                            <p>{{data.service_ALM_short}}</p>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_CD_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_CD}}</h3>
                                <p>{{data.service_CD_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_SSA_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_SSA}}</h3>
                                <p>{{data.service_SSA_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_TA_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_TA}}</h3>
                                <p>{{data.service_TA_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_TDM_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_TDM}}</h3>
                                <p>{{data.service_TDM_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_SV_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_SV}}</h3>
                                <p>{{data.service_SV_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_OI_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_OI}}</h3>
                                <p>{{data.service_OI_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_CC_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_CC}}</h3>
                                <p>{{data.service_CC_short}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="feature-box fbox-rounded fbox-effect">
                                <div class="fbox-icon">
                                    <a data-scrollto=#{{data.service_ALM_id}}><i class="icon-settings2 i-alt"></i></a>
                                </div>
                                <h3>{{data.service_ALM}}</h3>
                                <p>{{data.service_ALM_short}}</p>
                            </div>
                        </div>
                    </div>

				</div>

				<div class="section parallax noborder dark" style="height: 450px">

					<div class="vertical-middle center" style="z-index: 2;">
						<div class="container clearfix" data-animate="fadeInUp">
							<div class="heading-block nobottomborder nobottommargin">
                                <h1>GDPR Is Coming</h1>
                                <div id="clockdiv">
                                    <div>
                                        <span class="days"></span>
                                        <div class="smalltext">Days</div>
                                    </div>
                                    <div>
                                        <span class="hours"></span>
                                        <div class="smalltext">Hours</div>
                                    </div>
                                    <div>
                                        <span class="minutes"></span>
                                        <div class="smalltext">Minutes</div>
                                    </div>
                                    <div>
                                        <span class="seconds"></span>
                                        <div class="smalltext">Seconds</div>
                                    </div>
                                </div>
								<!--<h2 style="font-size: 42px;">Beautiful HTML5 Videos</h2>
								<span class="hidden-sm hidden-xs">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</span>-->
							</div>
							<a data-scrollto=#{{data.service_TDM_id}} class="button button-border button-rounded button-white button-light button-large noleftmargin nobottommargin" style="margin-top: 40px;">More information about our skills in TDM and GDPR</a>
						</div>
					</div>

					<div class="video-wrap" style="z-index: 1;">
						
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.1);"></div>
					</div>

				</div>

                <div class="container clearfix">
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/CDALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_CD}} id={{data.service_CD_id}}></a>
                                <h3>{{data.service_CD}}</h3>
                                <p>{{>serviceCDlong}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/SSAALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_SSA}} id={{data.service_SSA_id}}></a>
                                <h3>{{data.service_SSA}}</h3>
                                <p>{{>serviceSSAlong}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/TAALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_TA}} id={{data.service_TA_id}}></a>
                                <h3>{{data.service_TA}}</h3>
                                <p>{{>serviceTAlong}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/TDMALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_TDM}} id={{data.service_TDM_id}}></a>
                                <h3>{{data.service_TDM}}</h3>
                                <p>{{>serviceTDMlong}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/SVALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_SV}} id={{data.service_SV_id}}></a>
                                <h3>{{data.service_SV}}</h3>
                                <p>{{>serviceSVlong}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/OIALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_OI}} id={{data.service_OI_id}}></a>
                                <h3>{{data.service_OI}}</h3>
                                <p>{{>serviceOIlong}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <a href="services-3.html">
                                <img src="images/CCALPHA.png">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_CC}} id={{data.service_CC_id}}></a>
                                <h3>{{data.service_CC}}</h3>
                                <p>{{>serviceCClong}}</p>
                            </div>
                        </div>
                    </div>
                    
                    
                
                    <div class="row bottommargin">
                        <div class="col-md-3">
                            <img src="images/SDLCALPHA.png">
                        </div>
                        <div class="col-md-9">
                            <div class="leftmargin">
                                <a href={{data.service_ALM}} id={{data.service_ALM_id}}></a>
                                <h3>{{data.service_ALM}}</h3>
                                <p>{{>serviceALMlong}}</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		{{>footer}}<!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript">

	</script>

    <script type="text/javascript" src="js/TIMER_CODE.js">

    </script>

</body>
</html>